{% load static from static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shopy</title>
</head>
<body>
    <a href="http://127.0.0.1:8000/Ecom/cart/?imgURL=static/img/beds.jpeg&title=Beds&content=Lorem%20ipsum%20dolor%20sit%20amet,%20consectetur%20adipisicing%20elit.%20Magnam%20nemo%20placeat%20ratione%20repudiandae.&price=25000"><img  style="width: 100%;" src="{% static 'img/one_1.png' %}" alt=""></a>

</body>
</html>
