{% extends 'base.html' %}
{% load static from static %}

{% block main %}
    <div class="carousel">
            <!--<h5>{{imgs}}</h5>-->
            <a class="carousel-item" href="#one!"><img clas="slider_img" src="http://127.0.0.1:8000/{{ imgs.0 }}" alt=""></a>
            <a class="carousel-item" href="#two!"><img clas="slider_img" src="http://127.0.0.1:8000/{{ imgs.1 }}" alt=""></a>
            <a class="carousel-item" href="#three!"><img clas="slider_img" src="http://127.0.0.1:8000/{{ imgs.2 }}" alt=""></a>
            <a class="carousel-item" href="#four!"><img clas="slider_img" src="http://127.0.0.1:8000/{{ imgs.3 }}" alt=""></a>

    </div>

    <h3>Products</h3>
    <div class="divider"></div>
    <br>
    <div id="product-list" class="row">

    </div>
{% endblock %}

{% block scripts %}
    <script>
        document.addEventListener("DOMContentLoaded", ()=>{

            let slider_img = document.getElementsByClassName('slider_img');
            for (let img in slider_img){
                let href = HOST + img.href;
                img.href = href;
            }

            var elems = document.querySelectorAll('.carousel');
            console.log(elems);
            console.log("in");
            let options = {
                fullWidth: false,
                indicators: true,
                duration: 50
            }
            var instances = M.Carousel.init(elems, options);
            <!--let instance = M.Carousel.getInstance(elems);-->
            <!--console.log(instance);-->
            <!--instance.next(3);-->

            //    To insert Products

            let createCards=res=>{
                res['pdts'].forEach( pdt=>{
                    console.log(HOST+pdt['imgURL']);
                    let pdtList = document.getElementById('product-list');
                    let imgURL = HOST+pdt['imgURL'];
                    let title = pdt['pdt-title'];
                    let content = pdt['pdt-content'];
                    let sendURL = `Ecom/cart/?imgURL=${pdt['imgURL']}&title=${pdt['pdt-title']}&content=${pdt['pdt-content']}&price=${pdt['price']}`;
                    pdtList.innerHTML += `
                        <div class="col s12 m4">
                            <div class="card card-css">
                                <div class="card-image">
                                    <img src="${imgURL}" alt="${title}">
                                    <a href="${HOST+sendURL}" class="btn-floating halfway-fab waves-effect green"><i class="material-icons">shopping_cart</i></a>
                                </div>
                                <div class="card-content">
                                    <p>${content}</p>
                                </div>
                            </div>
                        </div>
                    `;
                });
            };
            let response = sendPOST(`${HOST}Ecom/pdts/`, 'pdts=?', createCards);
            <!--{'pdts':'?'}-->
        });
    </script>
{% endblock %}
