
<nav id="nav">
    <div class="nav-wrapper container">
        <a href=""  class="logo brand-logo"><i id="logo" class="material-icons">shop</i></a>
        <a href="" class="sidenav-trigger right hide-on-large-only" data-target="mob-links"><i id="menu_btn" class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="" class="home_btn">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mob-links">
    <li><a href="" class="subheader logo-name">Shopy</a></li>
    <li><div class="divider"></div></li>
    <li><a href="" class="home_btn">Home</a></li>
    <li><a href="">About</a></li>
    <li><a href="">Contact</a></li>
</ul>
